.face-snap-card {
    width: auto;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    border-radius: 3%;
    img {
        width: 70%;
    }
    h2 {
        margin-bottom: 0;
    }
    p  {
        font-weight: 300;
        font-size: 16px;
    }
    button {
        background-color: transparent;
        box-sizing: border-box;
        border-radius: 6%;
        padding: 5px 10px;
        border: none;
        box-shadow: lightblue 3px 3px 7px;
        margin-right: 20px;
        outline: none;
        font-size: 16px;
        font-weight: bold;
    }
    &:active {
        box-shadow: lightblue 0 0 5px;
    }
}

.face-snap-options{
    display: flex;
    width: auto;
    justify-content: space-around;
}